body{
	
}
p{
	font-size: 24;
	color: #810043;

}
table, th, td 
{
    border: 1px solid black;
}
h1{
	 text-shadow: 4px 4px 5px #b10101;
	 margin: auto;
	 text-align: center;
}
@keyframes carMove {
	/*0%: height:100px;
	50%: height: 200px;   #810043
	100% height:400px;*/
	from{
		margin-left:0px;
		width:100px;
	}
	to {
		margin-left: 500px;
		width: 100px; 
	}
}
img.cart{
	width:  100px;
    height: 100px;
	animation-name: carMove;
    animation-duration: 2s;
    animation-delay: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}